$form-bg-color: #fff;
$form-title-color: #333;

$button-bg-color: #007bff;
$button-hover-color: #0056b3;
$button-active-color: #004085;

$input-bg-color: #fff;
$input-border-color: #e4e4e4;
$input-focus-border-color: #007bff;
$input-focus-box-shadow: rgba(0, 123, 255, 0.5);
$input-placeholder-color: #787878;
$input-found-color: #dadada;
$input-delete-bg-color: #e84d3a;
$input-delete-hover-bg-color: #c24130;

$search-bg-color: #f3f3f3;
$search-label-color: #676767;
$search-border-color: #ccc;
$search-focus-border-color: #007bff;
$search-focus-box-shadow: rgba(0, 123, 255, 0.5);
$search-placeholder-color: #bbb;